* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 80px 0 45px 0;
  height: 100%;
  background-color: bisque;
}

header {
  background-color: gray;
  text-align: center;
  color: bisque;
  padding: 10px;
  height: 70px;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

.card {
  margin: 20px 10%;
  border: 5px solid rgb(89, 87, 87);
  border-radius: 2rem;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  position: relative;
  z-index: -1;
}

.card_bookmark {
  position: absolute;
  top: -25px;
  right: -18px;
}

.flag_options {
  font-size: 20px;
  color: blue;
}
.flag_size {
  font-size: 1000%;
}

.question_card {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.question {
  position: relative;
}

.options {
  position: absolute;
  right: 40px;
  top: 55px;
}

.submit {
  margin-left: 20%;
}

.button_class {
  padding: 10px;
  font-weight: bold;
  background-color: rgb(43, 226, 208);
  border-radius: 2rem;
}

.button_show_answer {
  padding: 10px;
  font-weight: bold;
  background-color: rgb(178, 19, 199);
  border-radius: 2rem;
}

.footer_elements {
  list-style: none;
  display: flex;
  gap: 90px;
  position: fixed;
  bottom: 0;
  background-color: blueviolet;
  width: 100%;
  justify-content: center;
  height: 50px;
}

.footer_image {
  width: 40px;
  height: 40px;
}

.footer_image:hover {
  background-color: brown;
}

.profile_info {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  line-height: 80px;
}

.profile_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid beige;
}

.name_style {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-decoration: dotted;
}

.about_me {
  display: flex;
  flex-direction: column;
  list-style: none;
}
