.body_class {
  background-color: rgb(238, 204, 222);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main_content {
  display: flex;
  flex-direction: column;
  margin: 80px 0 45px 0;
  max-height: 80vh;
  overflow-y: auto;
}

.card {
  margin: 3% 5%;
  border: 5px solid rgb(89, 87, 87);
  background-color: rgb(166, 234, 190);
  border-radius: 2rem;
  font-size: 1.1rem;
  padding: 2rem 3rem;
  position: relative;
}

.card_bookmark {
  position: absolute;
  top: -30px;
  right: -40px;
  width: 5rem;
}

.card_bookmark--unClicked {
  fill: rgb(255, 255, 255);
}

.card_bookmark--clicked {
  fill: black;
}

.question_card {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.flag_size {
  font-size: 9rem;
}

.flag_options {
  font-size: 1.2rem;
  color: rgba(6, 6, 61, 0.967);
  line-height: 2rem;
}

@media screen and (min-width: 800px) {
  .card {
    margin: 10%;
  }
  .question_card {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style: none;
    justify-content: center;
  }
  .button_display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
  }
}
