.footer_elements {
  list-style: none;
  display: flex;
  gap: 90px;
  position: fixed;
  bottom: 0;
  background-color: blueviolet;
  width: 100%;
  justify-content: center;
  height: 50px;
}

.footer_image {
  width: 40px;
  height: 40px;
}

.footer_image:hover {
  background-color: brown;
}
