* {
  box-sizing: border-box;
  margin: 0;
}

.header_quiz-title {
  background-color: gray;
  text-align: center;
  color: bisque;
  padding: 10px;
  height: 80px;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}
